@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  padding-top: 50px;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  color: #fff;
  margin-bottom: 50px;
}

.nav {
  @apply cursor-pointer
}

.selected{
  border-bottom: 2px solid #00a0ff;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin-bottom: 15px;
}

.social-content {
  height: 32px;
  width: 32px;
}

.text-shadow{
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.work-card {
  background-color: rgba(255, 255, 255, 0.75);
  color: rgb(70, 70, 70);
  padding: 20px;
  border-radius: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  @apply hover:bg-white hover:text-black
}

.profile-pic {
  
  height: 200px !important;
}